Sistema/⏱️ NewCare – Processador Agendado.json
{
  "name": "⏱️ NewCare – Processador Agendado",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "D5EPS46KjgFgJWgy",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "processado",
              "keyValue": "pendente"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1008,
        64
      ],
      "id": "65febb32-0ce1-4d67-845a-04208b597ee7",
      "name": "Buscar Mensagens Pendentes"
    },
    {
      "parameters": {
        "jsCode": "const TEMPO_MAX_INTERVALO_MS = 60000; // 60 segundos – ajuste conforme necessário\n\n// Busca todas as mensagens pendentes (entrada do nó Data Table)\nconst todas = $input.all().map(item => item.json);\nif (todas.length === 0) return [];\n\n// Agrupar por remetente\nconst porRemetente = new Map();\nfor (const msg of todas) {\n  const rem = msg.remetente;\n  if (!porRemetente.has(rem)) porRemetente.set(rem, []);\n  porRemetente.get(rem).push(msg);\n}\n\nconst lotes = [];\nconst agora = new Date();\n\nfor (const [rem, msgs] of porRemetente) {\n  // Ordenar por timestamp (crescente)\n  msgs.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\n  // Última mensagem do remetente\n  const ultimaMsg = msgs[msgs.length - 1];\n  const tempoUltima = new Date(ultimaMsg.timestamp);\n  const idade = agora - tempoUltima;\n  \n  // Se a última mensagem tem menos de 60 segundos, aguardar próximo ciclo\n  if (idade < TEMPO_MAX_INTERVALO_MS) {\n    continue;\n  }\n\n  // --- Processar TODAS as mensagens deste remetente (grupo único) ---\n  const textos = [];\n  const textos_pdf = [];\n  let anexos = [];       // Acumula todos os anexos (imagens, PDFs, etc.)\n  const ids = [];\n  const message_raw_list = [];\n  let canal = '';\n  let assunto = '';\n\n  for (const msg of msgs) {\n    canal = msg.canal;\n    assunto = msg.assunto || '';\n    if (msg.texto) textos.push(msg.texto);\n    if (msg.texto_pdf) textos_pdf.push(msg.texto_pdf);\n    \n    // Acumular anexos (importante para múltiplas imagens)\n    if (msg.anexos && msg.anexos !== '[]') {\n      try {\n        let anexosMsg = typeof msg.anexos === 'string' ? JSON.parse(msg.anexos) : msg.anexos;\n        if (!Array.isArray(anexosMsg)) anexosMsg = [anexosMsg];\n        anexos.push(...anexosMsg);\n      } catch (e) {\n        console.error('Erro ao parsear anexos da mensagem', msg.id, e);\n      }\n    }\n    \n    if (msg.id) ids.push(msg.id);\n    if (msg.message_raw) message_raw_list.push(msg.message_raw);\n  }\n\n  const textoCompleto = textos.join('\\n\\n').trim();\n  const textoPdfCompleto = textos_pdf.join('\\n\\n').trim();\n\n  lotes.push({\n    json: {\n      canal,\n      remetente: rem,\n      assunto,\n      texto: textoCompleto,\n      texto_pdf: textoPdfCompleto,\n      anexos: JSON.stringify(anexos),   // Contém todos os anexos do remetente\n      message_raw: JSON.stringify(message_raw_list),\n      timestamp: new Date().toISOString(),\n      ids   // Agora contém TODOS os ids do remetente\n    }\n  });\n}\n\n// Log para depuração (opcional – pode remover depois)\nconsole.log(`Total de lotes gerados: ${lotes.length}`);\nif (lotes.length > 0) {\n  console.log(`Primeiro lote - remetente: ${lotes[0].json.remetente}, anexos: ${lotes[0].json.anexos}`);\n}\n\nreturn lotes;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        64
      ],
      "id": "6e7f61bd-fe59-41f3-86f3-6ef4b44d6cfd",
      "name": "Agrupar e Combinar Mensagens"
    },
    {
      "parameters": {
        "workflowId": "qoQxogdREeaaXkntFLl0z",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ],
      "id": "c6ac5161-54b5-4edc-8f5b-121d3ee8cddd",
      "name": "Chamar Processador Inteligente (WF2)"
    },
    {
      "parameters": {
        "jsCode": "// Busca os dados do nó 'Agrupar e Combinar Mensagens' (que tem os ids)\nconst dadosOriginais = $('Agrupar e Combinar Mensagens').first().json;\nconst ids = dadosOriginais.ids;\n\nif (!ids || ids.length === 0) {\n  return [];\n}\n\n// Gera um item para cada id, com o campo 'processado' = \"true\"\nreturn ids.map(id => ({\n  json: {\n    id: id,\n    processado: \"true\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "d31955b4-f19e-471e-a2df-18c9c9699abf",
      "name": "Preparar Atualizações"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "D5EPS46KjgFgJWgy",
          "mode": "list",
          "cachedResultName": "mensagens_recebidas",
          "cachedResultUrl": "/projects/RclsYmQ6XcS8ybpc/datatables/D5EPS46KjgFgJWgy"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processado": "={{ $json.processado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "remetente",
              "displayName": "remetente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "assunto",
              "displayName": "assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "anexos",
              "displayName": "anexos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "processado",
              "displayName": "processado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_raw",
              "displayName": "message_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "texto_pdf",
              "displayName": "texto_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "46fdef64-0fa7-4383-a13c-298f3a84cb5e",
      "name": "Atualizar Status (cada id)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1248,
        64
      ],
      "id": "1c6f50d8-c719-4a68-854e-95904d1c848d",
      "name": "A cada 45 segundos"
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Mensagens Pendentes": {
      "main": [
        [
          {
            "node": "Agrupar e Combinar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar e Combinar Mensagens": {
      "main": [
        [
          {
            "node": "Chamar Processador Inteligente (WF2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Processador Inteligente (WF2)": {
      "main": [
        [
          {
            "node": "Preparar Atualizações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Atualizações": {
      "main": [
        [
          {
            "node": "Atualizar Status (cada id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada 45 segundos": {
      "main": [
        [
          {
            "node": "Buscar Mensagens Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ae15b153-bd11-422e-84db-0e5875377557",
  "meta": {
    "instanceId": "a3e28e7b586d14db8caaa6c56886e565eafa5758030b4faf5ace5b13f242eb87"
  },
  "id": "jGg6ngi10F352cILBTCpQ",
  "tags": []
}