Sistema/📥 NewCare – Receptores (WhatsApp + E-mail).json
{
  "name": "📥 NewCare – Receptores (WhatsApp + E-mail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newcare",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        64
      ],
      "id": "b80dfb28-7b14-4c85-b665-13e27881f3e9",
      "name": "Webhook Post1",
      "webhookId": "3ba3ec48-885e-4dd9-bd0d-0ffda9e0dc84"
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date().toISOString();\nconst items = $input.all();\nconst results = [];\n\nfunction mimeToExt(mime) {\n  if (!mime) return 'jpg';\n  if (mime.includes('jpeg') || mime.includes('jpg')) return 'jpg';\n  if (mime.includes('png')) return 'png';\n  if (mime.includes('webp')) return 'webp';\n  return 'img';\n}\n\n// Converte objetos Buffer { \"0\": x, \"1\": y... } para base64 (apenas para thumbnails/logs)\nfunction fixBufferFields(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  const keys = Object.keys(obj);\n  const isNumericByteArray =\n    keys.length > 0 &&\n    keys.every(k => /^\\d+$/.test(k)) &&\n    Object.values(obj).every(v => typeof v === 'number' && v >= 0 && v <= 255);\n  if (isNumericByteArray) {\n    const bytes = new Uint8Array(keys.length);\n    for (let i = 0; i < keys.length; i++) bytes[i] = obj[i];\n    return Buffer.from(bytes).toString('base64');\n  }\n  const result = Array.isArray(obj) ? [] : {};\n  for (const k of keys) result[k] = fixBufferFields(obj[k]);\n  return result;\n}\n\nfunction extrairEmailDeString(texto) {\n  const match = texto.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n  return match ? match[0] : texto;\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const input = item.json;\n  const body = input.body || {};\n  const data = body.data || {};\n  const message = data.message || {};\n\n  if (body.event === 'messages.upsert') {\n    if (data.key?.fromMe === true) continue;\n    const texto = message.conversation || message.extendedTextMessage?.text || message.listResponseMessage?.title || '';\n    const anexos = [];\n\n    // 📷 IMAGEM\n    if (message.imageMessage) {\n      const mime = message.imageMessage.mimetype || 'image/jpeg';\n      const extensao = mimeToExt(mime);\n      let base64 = '';\n      // Só processa se for string (evita crash com jpegThumbnail em formato objeto)\n      if (typeof message.base64 === 'string') base64 = message.base64;\n      if (typeof base64 === 'string' && base64.includes(',')) base64 = base64.split(',')[1];\n\n      anexos.push({ \n        tipo: extensao, \n        mime, \n        base64,\n        url: message.imageMessage.url || '' // 📌 URL OFICIAL\n      });\n    }\n\n    // 🎵 ÁUDIO\n    if (message.audioMessage) {\n      anexos.push({ \n        tipo: 'ogg', \n        mime: 'audio/ogg',\n        url: message.audioMessage.url || ''\n      });\n    }\n\n    // 📄 DOCUMENTO (EXCEL, PDF, ETC)\n    if (message.documentMessage) {\n      const nomeArquivo = message.documentMessage.fileName || 'documento.pdf';\n      const extensao = nomeArquivo.split('.').pop().toLowerCase() || 'pdf';\n      let base64 = '';\n      \n      if (typeof message.documentMessage.base64 === 'string') base64 = message.documentMessage.base64;\n      else if (typeof message.documentMessage.fileData === 'string') base64 = message.documentMessage.fileData;\n      \n      if (typeof base64 === 'string' && base64.includes(',')) base64 = base64.split(',')[1];\n\n      anexos.push({\n        tipo: extensao,\n        nome: nomeArquivo,\n        mime: message.documentMessage.mimetype || 'application/octet-stream',\n        base64,\n        url: message.documentMessage.url || '' // 📌 URL OFICIAL\n      });\n    }\n\n    const messageLimpa = fixBufferFields(message);\n    results.push({\n      json: {\n        canal: 'whatsapp',\n        remetente: data.key?.remoteJid || body.sender || '',\n        assunto: '',\n        texto: texto,\n        anexos: JSON.stringify(anexos),\n        message_raw: JSON.stringify(messageLimpa),\n        timestamp: body.date_time || agora,\n        status: 'pendente',\n      },\n    });\n  } \n  // (Bloco de EMAIL mantém-se igual ao anterior)\n  else if (input.from || body.from) {\n    const mail = input.from ? input : body;\n    let remetente = '';\n    if (typeof mail.from === 'string') {\n      remetente = mail.from;\n    } else if (mail.from && typeof mail.from === 'object') {\n      if (mail.from.value && Array.isArray(mail.from.value) && mail.from.value[0]?.address) {\n        remetente = mail.from.value[0].address;\n      } else if (mail.from.text) {\n        remetente = mail.from.text;\n      } else {\n        remetente = JSON.stringify(mail.from);\n      }\n    }\n    remetente = extrairEmailDeString(remetente);\n\n    const anexosProcessados = [];\n    const binaryOut = {};\n    let anexoIdx = 0;\n    if (item.binary) {\n      for (const key of Object.keys(item.binary)) {\n        try {\n          const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n          const b64 = buffer.toString('base64');\n          const bInfo = item.binary[key];\n          anexosProcessados.push({\n            tipo: (bInfo.fileExtension || 'bin').toLowerCase(),\n            nome: bInfo.fileName || key,\n            mime: bInfo.mimeType || 'application/octet-stream',\n            base64: b64,\n          });\n          binaryOut[`anexo_${anexoIdx++}`] = {\n            data: b64,\n            mimeType: bInfo.mimeType,\n            fileName: bInfo.fileName,\n          };\n        } catch (err) { continue; }\n      }\n    }\n\n    results.push({\n      json: {\n        canal: 'email',\n        remetente,\n        assunto: mail.subject || '',\n        texto: mail.text || mail.html || '',\n        anexos: JSON.stringify(anexosProcessados),\n        timestamp: mail.date ? new Date(mail.date).toISOString() : agora,\n        status: 'pendente',\n      },\n      binary: Object.keys(binaryOut).length > 0 ? binaryOut : undefined,\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        192
      ],
      "id": "d19c3f9a-b270-4e68-9b36-603843a2fbca",
      "name": "Padronizar Mensagem",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8c21077-b6f3-4fe4-8821-be5f7ac49137",
              "leftValue": "={{ $json.anexos.includes('\"tipo\":\"pdf\"') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        192
      ],
      "id": "45a69400-53f9-4653-a6b4-c3f4d6368ebd",
      "name": "If PDF?"
    },
    {
      "parameters": {
        "link": "={{ JSON.parse($json.message_raw).documentMessage.url }}",
        "mediaKey": "={{ JSON.parse($json.message_raw).documentMessage.mediaKey }}",
        "tipo": "pdf"
      },
      "type": "n8n-nodes-whatsapp-decrypt.whatsAppMediaDecrypt",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1cd9ff1c-c7d2-4704-9359-e21fd4162378",
      "name": "WhatsApp Decrypt"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "74552f4b-1e34-45a5-9b93-940426632e5c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const dadosOriginais = $('Padronizar Mensagem').first().json;\nconst textoExtraido = $json.text || $json.content || '';\n\nlet anexos = [];\ntry {\n  anexos = JSON.parse(dadosOriginais.anexos || '[]');\n} catch(e) { anexos = []; }\n\nreturn {\n  json: {\n    ...dadosOriginais,\n    anexos: JSON.stringify(anexos),\n    texto_pdf: textoExtraido,\n    message_raw: dadosOriginais.message_raw,\n    status: dadosOriginais.status || \"pendente\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "0e906c87-0ac3-4202-bc7e-2520c37aed12",
      "name": "Adicionar texto_pdf"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "D5EPS46KjgFgJWgy",
          "mode": "list",
          "cachedResultName": "mensagens_recebidas",
          "cachedResultUrl": "/projects/RclsYmQ6XcS8ybpc/datatables/D5EPS46KjgFgJWgy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{ $json.canal }}",
            "remetente": "={{ $json.remetente }}",
            "assunto": "={{ $json.assunto }}",
            "texto": "={{ $json.texto }}",
            "anexos": "={{ $json.anexos }}",
            "timestamp": "={{ $json.timestamp }}",
            "processado": "={{ $json.status }}",
            "message_raw": "={{ $json.message_raw }}",
            "texto_pdf": "={{ $json.texto_pdf }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "remetente",
              "displayName": "remetente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "assunto",
              "displayName": "assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "anexos",
              "displayName": "anexos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "processado",
              "displayName": "processado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_raw",
              "displayName": "message_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "texto_pdf",
              "displayName": "texto_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        432,
        208
      ],
      "id": "440c22ba-68c1-47a2-81d1-6f77fea6b13a",
      "name": "Armazenar Mensagem Bruta"
    },
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]",
          "forceReconnect": "={{ 1 }}"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -720,
        384
      ],
      "id": "18218d4e-da18-449f-8c47-ed27a2ba5598",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "xmqHHNbrMsJqyMeJ",
          "name": "GooGle Fabio"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Post1": {
      "main": [
        [
          {
            "node": "Padronizar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizar Mensagem": {
      "main": [
        [
          {
            "node": "If PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If PDF?": {
      "main": [
        [
          {
            "node": "WhatsApp Decrypt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Armazenar Mensagem Bruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Decrypt": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Adicionar texto_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar texto_pdf": {
      "main": [
        [
          {
            "node": "Armazenar Mensagem Bruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ed9959da-c570-4301-881a-8b7e68771041",
  "meta": {
    "instanceId": "a3e28e7b586d14db8caaa6c56886e565eafa5758030b4faf5ace5b13f242eb87"
  },
  "id": "8tk1ptT9sCpaCXBACEkD7",
  "tags": []
}